<html>
    <head>
        <title>Job Seeker's Information</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            $("#submit3").click(function(){
                var u = $("#username").val();
                var p = $("#password").val();
                var cp = $("#confirmpassword").val();
                var fn = $("#firstname").val();
                var ln = $("#lastname").val();
                var a = $("#address1").val();
                var a2 = $("#address2").val();
                var c = $("#city").val();
                var s = $("#state").val();
                var z = $("#zip").val();
                var e = $("#email").val();
                var ph = $("#phone").val();
                var f = $("#fax").val();
                var ce = $("#cell").val();
                var em = $("#web").val();
                
                if (u == "" || p == "") {
                    alert("You must supply a username and password");
                    return;
                }
                if (p != cp) {
                    alert("Passwords must match");
                    return;
                }
                var data = {
                    "username" : u,
                    "password" : p,
                    //"confirmpassword" : cp,
                    "firstname" : fn,
                    "lastname" : ln,
                    "address1" : a,
                    "address2" : a2,
                    "city" : c,
                    "state" : s,
                    "zip" : z,
                    "email" : e,
                    "phone" : ph,
                    "fax" : f,
                    "cell" : ce,
                    "web" : em,
                    
                };
   
                $.ajax({
                    url: "newuser",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success:
                        function(result){
                            if (!result.isUserNameUnique)
                            {
                                alert("Username is not unique");
                                return;
                            }
                            if (!result.isEmailUnique) {
                                alert("Email is not unique");
                                return;
                            }
                            //alert(result.name);
                            localStorage.setItem("user", u);
                            var url = "login";
                            //$(location).attr('href',url);
                            window.location.href = url;
                            //$("#login").hide();
                            //$("#nextpage").show();
                            
                        },
                    error: 
                        function(result){
                           alert("Error" + result);    
                        }
                        
                });
            });
        
            
            $("#cancel3").click(function(e){
                var url = "login";
                //$(location).attr('href',url);
                 window.location.href = url;
                e.preventDefault();
                return false;
            });
        }); 
        </script>
    </head>
    
    <body>
        <h1> Job Search Database </h1>
        
        <p>
            Please enter your registration information. All fields are required.
            <div class="row">
                <div class="col-xs-6">
            
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="username">Username</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="username" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="password">Password</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="password" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="confirmpassword">Confirm</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="confirmpassword" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="firstname">First Name</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="firstname" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="lastname">Last Name</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="lastname" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="address1">Address 1</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="address1" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="address2">Address 2</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="address2" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="city">City</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="city" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="state">State</label> 
                    <div class="col-xs-10">
                  
                    <select id=state>
<option value="1">ALABAMA</option>
<option value="2">ALASKA</option>
<option value="3">AMERICAN SAMOA</option>
<option value="4">ARIZONA</option>
<option value="5">ARKANSAS</option>
<option value="6">CALIFORNIA</option>
<option value="7">COLORADO</option>
<option value="8">CONNECTICUT</option>
<option value="9">DELAWARE</option>
<option value="10">DISTRICT OF COLUMBIA</option>
<option value="11">FEDERATED STATES OF MICRONESIA</option>
<option value="12">FLORIDA</option>
<option value="13">GEORGIA</option>
<option value="14">GUAM</option>
<option value="15">HAWAII</option>
<option value="16">IDAHO</option>
<option value="17">ILLINOIS</option>
<option value="18">INDIANA</option>
<option value="19">IOWA</option>
<option value="20">KANSAS</option>
<option value="21">KENTUCKY</option>
<option value="22">LOUISIANA</option>
<option value="23">MAINE</option>
<option value="24">MARSHALL ISLANDS</option>
<option value="25">MARYLAND</option>
<option value="26">MASSACHUSETTS</option>
<option value="27">MICHIGAN</option>
<option value="28">MINNESOTA</option>
<option value="29">MISSISSIPPI</option>
<option value="30">MISSOURI</option>
<option value="31">MONTANA</option>
<option value="32">NEBRASKA</option>
<option value="33">NEVADA</option>
<option value="34">NEW HAMPSHIRE</option>
<option value="35">NEW JERSEY</option>
<option value="36">NEW MEXICO</option>
<option value="37">NEW YORK</option>
<option value="38">NORTH CAROLINA</option>
<option value="39">NORTH DAKOTA</option>
<option value="40">NORTHERN MARIANA ISLANDS</option>
<option value="41">OHIO</option>
<option value="42">OKLAHOMA</option>
<option value="43">OREGON</option>
<option value="44">PALAU</option>
<option value="45">PENNSYLVANIA</option>
<option value="46">PUERTO RICO</option>
<option value="47">RHODE ISLAND</option>
<option value="48">SOUTH CAROLINA</option>
<option value="49">SOUTH DAKOTA</option>
<option value="50">TENNESSEE</option>
<option value="51">TEXAS</option>
<option value="52">UTAH</option>
<option value="53">VERMONT</option>
<option value="54">VIRGIN ISLANDS</option>
<option value="55">VIRGINIA</option>
<option value="56">WASHINGTON</option>
<option value="57">WEST VIRGINIA</option>
<option value="58">WISCONSIN</option>
<option value="59">WYOMING</option>
</select>
                        </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="zip">Zip</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="zip" value=""> 
                    </div>
                </div>
                    <div class="form-group">
                    <label class="control-label col-xs-2" for="email">Email</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="email" value=""> 
                    </div>
                </div>
                    <div class="form-group">
                    <label class="control-label col-xs-2" for="phone">Phone</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="phone" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="fax">Fax</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="fax" value=""> 
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="cell">Cell</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="cell" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="web">Web</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" id="web" value=""> 
                    </div>
                </div>
                    
        </form>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="submit3">Register</button>
                <button id="cancel3">Cancel</button>
                </div>
                <div class="col-xs-6"></div>
    </body>
<html>