<html>
     <!-- Author: Matthew Nelson
        CoAuthor:
    -->
    
    <head>
        <title>Resume: Welcome to UConn's Job Search Database</title>
    </head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
        <script>
        $(document).ready(function() {
        
                
                $.ajax({
                    url: "objective_salary",
                    type: "GET",
                    dataType: 'json',
                    success:
                        function(result){
                            $("#objective").val(result[0].RObjective);
                            $("#salary").val(result[0].RSalaryMin);
                           
                        },
                    error: 
                        function(result){
                           alert("Error" + result);    
                        }
                        
                });
           
            $("#submit9").click(function(){
                var o = $("#objective").val();
                var s = $("#salary").val();
                var user = localStorage.getItem("user");
                var data = {
                    "objective" : o,
                    "salary" : s,
                    //"user" : user
                };
                 
                $.ajax({
                    url: "resumeupdate", // login.php
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify(data),
                    success:
                        function(result){
                            //alert(result.name);
                            var url = "resumeupdateeducation";//http://127.0.0.1:8080/figure6.html";
                            //$(location).attr('href',url);
                            window.location.href = url;
                            //$("#login").hide();
                            //$("#nextpage").show();
                        },
                    error: 
                        function(result){
                           //alert("ERROR" + result);  
                             var url = "resumeupdateeducation";//http://127.0.0.1:8080/figure6.html";
                            //$(location).attr('href',url);
                            window.location.href = url;
                            //var url = "resumeupdateeducation";//http://127.0.0.1:8080/figure6.html";
                            //$(location).attr('href',url);
                        }
                        
                });
            });
            
            $("#cancel9").click(function(){
                var url = "main";
                //$(location).attr('href',url);
                window.location.href = url;
            });
                
         });
        </script>
    
    <body style="margin:20px">
        <h1> Job Search Database </h1>
        
        <p>
            Please update your resume
             <div class="row">
                <div class="col-xs-6">
             <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="objective">Objective</label> 
                    <div class="col-xs-10">
                        <input class="form-control" type="textarea" id="objective" value=""> 
                    </div>
                </div>
                  <div class="form-group">
                    <label class="control-label col-xs-2" for="salary">Salary</label> 
                    <div class="col-xs-10">
                        <input class="form-control" type="text" id="salary" value=""> 
                    </div>
                </div>
            
            
                    </form>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button id="submit9">Next</button>
            <button id="cancel9">Cancel</button>
                   </div>
                <div class="col-xs-6"></div>
                    </div>
        </p>
    </body>
<html>