<html>
     <!-- Author: Matthew Nelson
        CoAuthor:
    -->
    
    <head>
        <title>Search UConn's Job Search Database</title>
    </head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
        <script>
        $(document).ready(function() {
           
            $("#submit7").click(function(){
                var j = $("#jobtitle").val();
                var c = $("#companyname").val();
                var s = $("#salary").val();
                var l = $("#location").val();
                if (j == "" && c == "" && s == "" && l == "") {
                    alert("You must enter some criteria");
                    return;
                }
                var url = "";
                if (j != "") {
                    if (url != "") {
                        url = url + "&";
                    }
                    url += "jobtitle=" + escape(j);
                }
                if (c != "") {
                    if (url != "") {
                        url = url + "&";
                    }
                    url += "companyname=" + escape(c);
                }
                if (s != "") {
                    if (url != "") {
                        url = url + "&";
                    }
                    url += "salary=" + escape(s);
                }
                if (l != "") {
                    if (url != "") {
                        url = url + "&";
                    }
                    url += "location=" + escape(l);
                }
                url = "main" + "?" + url;
                $(location).attr('href',url);
                
            });
            
            $("#cancel7").click(function(){
                var url = "main";
                $(location).attr('href',url);
            });
                
         });
        </script>
    
    <body style="margin:20px">
        <h1> Job Search Database </h1>
        
        <p>
            Please enter the search criteria
            <div class="row">
                <div class="col-xs-6">
             <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="jobtitle">Job Title</label> 
                    <div class="col-xs-10">
                        <input class="form-control" type="text" id="jobtitle" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="companyname">Company Name</label> 
                    <div class="col-xs-10">
                        <input class="form-control" type="text" id="companyname" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="salary">Salary</label> 
                    <div class="col-xs-10">
                        <input class="form-control" type="text" id="salary" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="location">Location</label> 
                    <div class="col-xs-10">
                        <input class="form-control" type="text" id="location" value=""> 
                    </div>
                </div>
                
            </form>
        
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="submit7">Submit</button>
            <button id="cancel7">Cancel</button>
                </div>
                <div class="col-xs-6"></div>
        </div>
    </body>
<html>