<html>
     <!-- Author: Matthew Nelson
        CoAuthor:
    -->
    
    <head>
        <title>Job Seeker's Information</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
             $.ajax({
                    url: "user_skills",
                    type: "GET",
                    dataType: 'json',
                    success:
                        function(result){
                            //alert(result);
                            result.forEach(function(v) {
                                console.log(v.SSkillID);
                                var i = '#skills option[value=' + v.SSkillID + ']';
                                $(i).prop('selected', 'selected');
                            });
                            
                        },
                    error: 
                        function(result){
                           alert("Error" + result);    
                        }
                        
                });
            
            $("#submit3").click(function(e){
                e.preventDefault();
               var u = $("#skills").val();
                
                var data = [];
                u.forEach(function(v) {
                    data.push({ "SSkillID": v });
                });
   
                $.ajax({
                    url: "user_skills",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    success:
                        function(result){
                            var url = "main";
                            //$(location).attr('href',url);
                            window.location.href = url;
                            //$("#login").hide();
                            //$("#nextpage").show();
                            
                        },
                    error: 
                        function(result){
                             var url = "main";
                            //$(location).attr('href',url);
                            window.location.href = url;
                           //alert("Error" + result);    
                        }
                        
                });
            });
        
            
            $("#cancel3").click(function(e){
                var url = "main";
                //$(location).attr('href',url);
                 window.location.href = url;
                e.preventDefault();
                return false;
            });
        }); 
        </script>
    </head>
    
    <body>
        <h1> Job Search Database </h1>
        
        <p>
            Please select your skills.
            <div class="row">
                <div class="col-xs-6">
            
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="username"></label> 
                    <div class="col-xs-10">
                    <select id=skills multiple size=15>
                               <option value="1">C++</option>
<option value="2">C</option>
<option value="3">Java</option>
<option value="4">XML</option>
<option value="5">Visual Basic</option>
<option value="6">Cobol</option>
<option value="7">Informix</option>
<option value="8">Oracle</option>
<option value="9">MySQL</option>
<option value="10">C#</option>
<option value="11">.NET</option>
<option value="12">HTML</option>
<option value="13">JavaScript</option>
<option value="14">Visual Basic</option>
<option value="15">VB Script</option>
<option value="16">UNIX</option>
<option value="17">Java Server Pages</option>
<option value="18">Active Server Pages</option>
<option value="19">SyBase</option>
<option value="20">Python</option>
<option value="21">Fortran</option>
<option value="22">Microsoft Word</option>
<option value="23">Microsoft Access</option>
<option value="24">Microsoft Project</option>
<option value="25">Linux</option>
<option value="26">Pascal</option>
<option value="27">Assembly</option>
<option value="28">DBase</option>
<option value="29">FoxPro</option>
<option value="30">LISP</option>

                        </select>
                    </div>
                </div>
               
                    
        </form>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="submit3">Submit</button>
                <button id="cancel3">Cancel</button>
                </div>
                <div class="col-xs-6"></div>
    </body>
<html>
        
 
    </body>
<html>