<html>
     <!-- Author: Matthew Nelson
        CoAuthor:
    -->
    
    <head>
        <title>Job Seeker's Information</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">

        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            var id = window.location.href.replace(/.*\//, '');
            var url = "http://localhost/uconnjobsearch/job_details/" + id;
            $.ajax({
                    url: url,
                    type: "GET",
                    dataType: 'json',
                    success:
                        function(result){
                            $("#JListDate").val(result[0].JListDate);
                            $("#JobTitle").val(result[0].JobTitle);
                            $("#JCity").val(result[0].JCity);
                            $("#Zipcode").val(result[0].Zipcode);
                            $("#JDuties").val(result[0].JDuties);
                            $("#JYRSExperience").val(result[0].JYRSExperience);
                            $("#JLowRange").val(result[0].JLowRange);
                            $("#JHighRange").val(result[0].JHighRange);
                            $("#JFillStatus").val(result[0].JFillStatus);
                            $("#CName").val(result[0].CName);
                            $("#TotalApplicants").val(result[0].TotalApplicants);
                        },
                    error: 
                        function(result){
                           alert("Error" + result);    
                        }
                        
                });
            
            
            $("#cancel3").click(function(e){
                var url = "http://localhost/uconnjobsearch/main";
                //$(location).attr('href',url);
                 window.location.href = url;
                e.preventDefault();
                return false;
            });
        }); 
        </script>
    </head>
    
    <body style="margin:20px">
        <h1> Job Search Database </h1>
        
        <p>
            Job Details:
            <div class="row">
                <div class="col-xs-6">
            
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="JListDate">List Date:</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="JListDate" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="JobTitle">Title</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="JobTitle" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="JCity">City</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="JCity" value=""> 
                    </div>
                </div>
                
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="Zipcode">ZipCode</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="Zipcode" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="JDuties">Duties</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="JDuties" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="JYRSExperience">Experience</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="JYRSExperience" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="JLowRange">Low Salary</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="JLowRange" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="JHighRange">High Salary</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="JHighRange" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="JFillStatus">Fill Status</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="JFillStatus" value=""> 
                    </div>
                </div>
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="CName">Company</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="CName" value=""> 
                    </div>
                </div>
               
                 <div class="form-group">
                    <label class="control-label col-xs-2" for="TotalApplicants">Applicants</label> 
                    <div class="col-xs-10">
                    <input class="form-control" type="text" readonly=readonly id="TotalApplicants" value=""> 
                    </div>
                </div>
               
                
               
               
                    
        </form>
         
               &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<button id="cancel3">OK</button>
                </div>
                <div class="col-xs-6"></div>
        </div>
    </body>
<html>