<html>
    <head>
        <title>Applications: Welcome to UConn's Job Search Database</title>
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css">
        </link>
    </head>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js">
    </script>
        <script>
        $(document).ready(function() {
            
         var u = localStorage.getItem("user");
        $("#example").DataTable({
      "paging" : false,
      "ordering" : false,
      "info" : false,
      "searching": false,
      "ajax" : {
         "url" : "seeker_jobs/" + u,
         "dataSrc" : "",
      },
      columns: [
//ULName":"Bailey","UFName":"Eric","CName":"Gefion, Inc.","JobID":"28","JListDate":"2001-01-28","JobTitle":"Physical Scientists"
            {
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {
                        if ( data == 'Y' ) {
                           return '<input type="checkbox" checked class="editor-active">';
                        } else {
                           return '<input type="checkbox" class="editor-active">';
                        }
                    }
                    return data;
                },
                className: "dt-body-center"
            },
            { data: "JobTitle" },
            { data: "JListDate" },
          { data: "JobID" },
      ]
   });
            
        $("#deleteselected").click(function(){
            var t = $("#example").DataTable();
            var ids = [];
            $("input:checked", t.rows().nodes()).each(function(data){
                console.log($(this).val());
                ids[ids.length] = "12";
            });
            console.log(ids);
            $.ajax({
                    url: "delete_jobs", // login.php
                    type: "POST",
                    data: data,
                    success:
                        function(result){
                            alert(result);
                           // var url = "main";//http://127.0.0.1:8080/figure6.html";
                            //$(location).attr('href',url);
                            //$("#login").hide();
                            //$("#nextpage").show();
                        },
                    error: 
                        function(result){
                           alert(result);    
                        }
                        
                });
        });
            
        $("#selectall").click(function(){
            var t = $("#example").DataTable();
            $(":checkbox", t.rows().nodes()).prop("checked",true);
            
        });   
            
        $("#clearall").click(function(){
             var t = $("#example").DataTable();
            $(":checkbox", t.rows().nodes()).prop("checked",false);
        });
        $("#ms").click(function(){
            localStorage.removeItem("user");
            var url = "main"; //"http://127.0.0.1:8080/figure3.html";
                $(location).attr('href',url);
            });
            
        });    
        
        
    </script>
    
    <body>
        <h1> Job Search Database </h1>
        
        <p>
            Welcome John Doe. You have 5 active applications
            
            <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Select</th>
                <th>Company</th>
                <th>List Date</th>
                <th>Job ID</th>
            </tr>
        </thead>
            
         <p>
            
            <button id=deleteselected>Delete Selected</button>
            <button id=selectall>Select All</button>
            <button id=clearall>Clear All</button>
            <button id=ms>Main Screen</button>
            
        </p>
        </p>
    </body>
<html>